<div class="container-fluid" id="main">
   <div class="row">	    
    <div class="col-sm-4" id="mainrow">
     <a href="signinmob">Family Tree</a>
   </div>
 </div>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-5">
        <table id="cidop">
          <tr>
            <td>
              <div class="group">
                <input type="Number" name="custname" id="txtopfname" maxlength="" required  onkeyup="cidop()" />
                <span class="bar"></span>
                <label id="ciop1">OTP</label>
                <label id="ciop2">Please enter OTP</label>
              </div>
            </td>
          </tr>			
        </table>
      </div>
    </div>
    <br><br>
    <div class="col-md-12">
      <div class="col-md-5">
        <table id="cnp">
          <tr>
            <td>
              <div class="group">
                <input type="password" name="custname" id="txtnplname" maxlength="" required  onkeyup="cnp()" />
                <span class="bar"></span>
                <label id="cnp1">New password</label>
                <label id="cnp2">Please enter new password</label>
              </div>
            </td>
          </tr>			
        </table>
      </div>
    </div>
    <br><br>
    <div class="col-md-12">
      <div class="col-md-5">
        <table id="connpwd">
          <tr>
            <td>
              <div class="group">
                <input type="password" name="custname" id="txtconnpwd" maxlength=""  required  onkeyup="connpwd()" />
                <span class="bar"></span>
                <label id="conpwd1">Confirm new password</label>
                <label id="conpwd2">Please confirm new password</label>
              </div>
            </td>
          </tr>			
        </table>
      </div>
    </div>
    <br><br>
    <div class="col-md-12 text-center" id="reset">
      <a href="signinmob.html">
        <div class="col-md-4 ">
          <button id="saverp" type="submit"><b>Reset Password</b></button>
        </div>
      </a>
    </div>
    <br><br>
  </div>