<div id="maindiv" ><!-- maindiv start -->
  <div id="searchbox" class="col-md-12"><!-- searchbox start-->
													<div id="searchimg" class="col-md-1"> <!--searchimg start-->
														<img src="../assets/images/f2.jpg" style="margin-left:-20px;">
													</div>  <!--searchimg close-->
													<div id="searchinput" class="col-md-11"> <!--searchinput start-->
													<input id="searchinputtxt" type="text" class="form-control" id="text" placeholder="Share something with your family world...">
													</div> <!--searchinput close-->
                        </div> <!-- searchbox close-->
                        <div id="timeline"> <!--timeline start-->
													<div id="timelinebgimg" class="col-md-12"> <!--timelinebgimg start-->
														<div id="timelineicon" class="col-md-1"> <!--timelineicon start-->
															<img src="../assets/images/f2.jpg" style="margin-left:-20px;">
														</div> <!--timelineicon close-->	
														<div id="timelinename" class="col-md-4" style="text-align:left;"> <!--timelinename start-->
															<p>Smith</p>
															<ul id="timelinencity" class="list-inline"> <!--timelinencity start-->
																<li><i class="fa fa-map-marker"></i> Tokyo Japan</li>
																<li><i class="fa fa-clock-o"></i> 15 minutes ago</li>
															</ul> <!--timelinencity close-->
														</div> <!--timelinename close-->
                          </div> <!--timeline close-->
                          <div id="timelinedata" class="col-md-12" style="text-align:left;"> <!--timelinedata start-->
														<div id="timelinedataa" class="col-md-12"> <!--timelinedataa start-->
															<ul class="list-inline">
																<li><input type="checkbox" class="glyphicon glyphicon-heart-empty" > LOVE</li>
																<li  data-toggle="modal" data-target="#myModalll"><i class="fa fa-comment-o"></i> SPREAD</li>
																<li data-toggle="collapse" data-target="#demo"><i class="fa fa-pencil-square-o"></i> SAY ABOUT IT</li>
															</ul>
															<p id="timelinemess">Portrait photography is as much about composition and lighting as 
																it is about understanding the person him or herself</p>
																<div  id="demo"  class="collapse">
																	<div id="demo"  class="input-group">
																		<input id="invitedemo" type="text" class="form-control" placeholder="Say something">
																		<div class="input-group-btn">
																			<button id="invitedemoo" class="btn btn-default" type="submit">
																				<span id="invitedemoo">Say it</span>
																			</button>
																		</div>
																	</div>
																</div>
															</div><!--timelinedataa close-->
                                  </div><!--timelinedata close-->
                            <div id="timilinefirst" class="col-md-12" style="text-align:left;"> <!--timilinefirst start-->
																<div id="timilinefirsticon" class="col-md-1"> <!--timilinefirsticon start-->
																	<img src="../assets/images/f2.jpg">
																</div>  <!--timilinefirsticon close-->
																<div id="timilinefirstname" class="col-md-11"><!-- timilinefirstname start-->
																	<p>Perry</p>
																	<ul id="timilinefirstcity" class="list-inline">
																		<li><i class="fa fa-map-marker"></i> Us Chicago</li>
																		<li><i class="fa fa-clock-o"></i> 35 minutes ago</li>
																	</ul>
																	<p id="timilinefirsttextt" style="color:#CCCCCC;font-size:14px;">I shot this photo today. Perfect day, but I used a filter to tone it down anyway.</p>
																</div> <!-- timilinefirstname close-->
                              </div><!--timilinefirst close-->
                              <div id="timelinesecond" class="col-md-12" style="text-align:left;"> <!--timelinesecond start-->
																<div id="timelinesecond1" class="col-md-12"> <!--timelinesecond1 start-->
																	<ul id="timelinesecondname" class="list-inline"> <!--timelinesecondname start-->
																		<li><input type="checkbox" class="glyphicon glyphicon-heart-empty"> LOVE</li>
																		<li data-toggle="modal" data-target="#myModalll"><i class="fa fa-comment-o"></i> SPREAD</li>
																		<li data-toggle="collapse" data-target="#demo1"><i class="fa fa-pencil-square-o"></i> SAY ABOUT IT</li>
																	</ul><!--timelinesecondname close-->
																	<p id="timelinesecondtext">Portrait photography is as much about composition and 
																		lighting as it is about understanding the person him or herself</p>
																		<div  id="demo1"  class="collapse">
																			<div id="demo1"  class="input-group">
																				<input id="invitedemo" type="text" class="form-control" placeholder="Say something">
																				<div class="input-group-btn">
																					<button id="invitedemo"  class="btn btn-default" type="submit">
																						<span id="invitedemoo">Say it</span>
																					</button>
																				</div>
																			</div>
																		</div>
																	</div><!--timelinesecond1 close-->
                                  </div><!--timelinesecond close-->
                                <div id="timilinefirst" class="col-md-12" style="text-align:left;"> <!--timilinefirst start-->
																		<div id="timilinefirsticon" class="col-md-1"> <!--timilinefirsticon start-->
																			<img src="../assets/images/f2.jpg">
																		</div>  <!--timilinefirsticon close-->
																		<div id="timilinefirstname" class="col-md-11"><!-- timilinefirstname start-->
																			<p>john</p>
																			<ul id="timilinefirstcity" class="list-inline">
																				<li><i class="fa fa-map-marker"></i> tokyo Japan</li>
																				<li><i class="fa fa-clock-o"></i> 15 minutes ago</li>
																			</ul>
																			<p id="timilinefirsttextt" style="color:#CCCCCC;font-size:14px;">I shot this photo today. Perfect day, but I used a filter to tone it down anyway.</p>
																		</div> <!-- timilinefirstname close-->
                                  </div><!--timilinefirst close-->
                                  
</div><!-- maindiv close-->
