<div id="maindiv" ><!-- maindiv -->
					<div id="chatpage" class="col-md-4"> <!--col-md-4-1 start-->
						<div id="contactdata"  class="col-md-12"><!--col-md-12-1 start--> 
							<div id="contactdataa"  class="inner-addon right-addon">
								<i  class="glyphicon glyphicon-search"></i>
								<input id="contactdataa1" type="text" class="form-control" placeholder="Search" />
							</div>
							<div id="chatinner" class="col-md-12"> <!--chat inner start-->
								<div class="row">
								<div id="chatcontact" class="col-md-12">
								<div id="chatcontactimg" class="col-md-3"><img [src]="imgsource_profile"></div>
								<div class="col-md-3"><a id="chatlink" href="#"> Rishi </a></div>
								<div class="col-md-3"><span class="badge">1</span></div>
								<div class="col-md-3">8:30&nbsp;AM</div>
								</div>
								</div>
								<div class="row">
								<div id="chatcontact" class="col-md-12">
								<div id="chatcontactimg" class="col-md-3"><img [src]="imgsource_profile"></div>
								<div class="col-md-3"><a id="chatlink" href="#"> Adam </a></div>
								<div class="col-md-3"><span class="badge"></span></div>
								<div class="col-md-3">9:30&nbsp;AM</div>
								</div>
								</div>
								<div class="row">
								<div id="chatcontact" class="col-md-12">
								<div id="chatcontactimg" class="col-md-3"><img [src]="imgsource_profile"></div>
								<div class="col-md-3"><a id="chatlink" href="#"> Katy </a></div>
								<div class="col-md-3"><span class="badge">3</span></div>
								<div class="col-md-3">10:00&nbsp;AM</div>
								</div>
								</div>
								<div class="row">
								<div id="chatcontact" class="col-md-12">
								<div id="chatcontactimg" class="col-md-3"><img [src]="imgsource_profile"></div>
								<div class="col-md-3"><a id="chatlink" href="#">Andrew </a></div>
								<div class="col-md-3"><span class="badge"></span></div>
								<div class="col-md-3">10:30&nbsp;AM</div>
								</div>
								</div>
								<div class="row">
								<div id="chatcontact" class="col-md-12">
								<div id="chatcontactimg" class="col-md-3"><img [src]="imgsource_profile"></div>
								<div class="col-md-3"><a id="chatlink" href="#">Perry </a></div>
								<div class="col-md-3"><span class="badge">4</span></div>
								<div class="col-md-3">11:00&nbsp;AM</div>
								</div>
								</div>
								<div class="row">
								<div id="chatcontact" class="col-md-12">
								<div id="chatcontactimg" class="col-md-3"><img [src]="imgsource_profile"></div>
								<div class="col-md-3"><a id="chatlink" href="#">Henry </a></div>
								<div class="col-md-3"><span class="badge">2</span></div>
								<div class="col-md-3">11:30&nbsp;AM</div>
								</div>
								</div>
								<div class="row">
								<div id="chatcontact" class="col-md-12">
								<div id="chatcontactimg" class="col-md-3"><img [src]="imgsource_profile"></div>
								<div class="col-md-3"><a id="chatlink" href="#">Bob </a></div>
								<div class="col-md-3"><span class="badge"></span></div>
								<div class="col-md-3">12:00&nbsp;PM</div>
								</div>
								</div>
								<div class="row">
								<div id="chatcontact" class="col-md-12">
								<div id="chatcontactimg" class="col-md-3"><img [src]="imgsource_profile"></div>
								<div class="col-md-3"><a id="chatlink" href="#">John </a></div>
								<div class="col-md-3"><span class="badge">5</span></div>
								<div class="col-md-3">12:30&nbsp;PM</div>
								</div>
								</div>
								<div class="row">
								<div id="chatcontact" class="col-md-12">
								<div id="chatcontactimg" class="col-md-3"><img [src]="imgsource_profile"></div>
								<div class="col-md-3"><a id="chatlink" href="#"> Rishi </a></div>
								<div class="col-md-3"><span class="badge">1</span></div>
								<div class="col-md-3">1:30&nbsp;PM</div>
								</div>
								</div>
								<div class="row">
								<div id="chatcontact" class="col-md-12">
								<div id="chatcontactimg" class="col-md-3"><img [src]="imgsource_profile"></div>
								<div class="col-md-3"><a id="chatlink" href="#">Adam </a></div>
								<div class="col-md-3"><span class="badge"></span></div>
								<div class="col-md-3">2:30&nbsp;PM</div>
								</div>
								</div>
								<div class="row">
								<div id="chatcontact" class="col-md-12">
								<div id="chatcontactimg" class="col-md-3"><img [src]="imgsource_profile"></div>
								<div class="col-md-3"><a id="chatlink" href="#">Katy </a></div>
								<div class="col-md-3"><span class="badge">3</span></div>
								<div class="col-md-3">3:30&nbsp;PM</div>
								</div>
								</div>
								<div class="row">
								<div id="chatcontact" class="col-md-12">
								<div id="chatcontactimg" class="col-md-3"><img [src]="imgsource_profile"></div>
								<div class="col-md-3"><a id="chatlink" href="#">Andrew </a></div>
								<div class="col-md-3"><span class="badge"></span></div>
								<div class="col-md-3">4:30&nbsp;PM</div>
								</div>
								</div>
							</div> <!--chat inner close-->
						</div> <!--col-md-12-1 close-->
					</div> <!--col-md-4-1 close-->
					<div id="invitation" class="col-md-8"><!--col-md-4-2 start-->
					<!--messagefixed1 start-->
						<div id="messagefixed11" class="row">
						<!--row start-->
							<a href="myinvitation.html"><div >
							<p>Send an Invitation</p>
							</div></a>
						<!--row close-->
						</div>
						<!--messagefixed1 close-->
						<div id="invitationdata" class="row"><!--another row start-->
							<div id="invitationdataa" class="col-md-12">
								<!--invitation start-->
								<p>Invitation from Member1</p>
								<div id="inviteimg" class="col-md-12"></div>
								<p>Hi USER! My brother (Name) and (Name) together with their 
								families invite you and your family to celebrate their marriage
								on 5th June 2017 at Karimnagar</p>
								<div class="col-md-12 text-right">
									<button id="invitebtn" type="button" data-toggle="collapse" data-target="#demo" >Reply</button>
								</div>
								<br><br>
								<div> 
									<form  id="demo"  class="collapse">
									<div class="input-group">
									<input id="invitedemo" type="text" class="form-control" placeholder="Say something">
									<div class="input-group-btn">
									<button  id="invitedemo" class="btn btn-default" type="submit">
									<span id="invitedemoo">Say it</span>
									</button>
									</div></div>
									</form>
								</div> 
								<!--invitation close-->
								<!--invitation start-->
								<p>Invitation from Member1</p>
								<div id="inviteimg" class="col-md-12">	
								</div>
								<p>Hi USER! My brother (Name) and (Name) together with their families 
								invite you and your family to celebrate their marriage on 5th June 2017
								at Karimnagar</p>
								<div class="col-md-12 text-right">
								<button id="invitebtn" type="button" data-toggle="collapse" data-target="#demo11" >Reply</button>
								</div>
								<br><br>
								<div> 
									<form  id="demo11"  class="collapse">
									<div class="input-group">
									<input id="invitedemo" type="text" class="form-control" placeholder="Say something">
									<div class="input-group-btn">
									<button  id="invitedemo" class="btn btn-default" type="submit">
									<span id="invitedemoo">Say it</span>
									</button>
									</div></div>
									</form>
								</div> 
								<!--invitation close-->
							</div>
						</div>
					<!--another row close-->
					</div><!--col-md-4-2 close-->
				</div><!-- maindiv-->