<form role="form" [formGroup]="profileForm" (ngSubmit)="save(profileForm.value, profileForm.valid)" >
<div id="maindiv">
   <!-- maindiv -->
   <div id="myprofile" class="col-md-5">
      <table id="mbpf">
         <tr>
            <td>
               <img src="images/profile.png">
            </td>
            <td id="mbpf1">
               <input style="margin-left:10px;margin-top:20px;" id="txtem" type="text" placeholder="Write something about status">
            </td>
         </tr>
	  </table>
		<!--</div>-->
     
<br>	
<div class="container" *ngIf="profileUpdateComplete == true && !isPageLoad">
   <div class="row">
      <div class="col-md-12">
         <div class="col-md-4" >Profile updated successfully.</div>
      </div>
   </div>
</div>

<div class="container ci2" *ngIf="isValidated == false && !isPageLoad">
   <div class="row">
      <div class="col-md-12">
         <div class="col-md-4" >Please fill all fields.</div>
      </div>
   </div>
</div>
<div class="container">
   <div class="row" >
      <div class="col-md-12">
         <div class="col-md-5">
            <table id="cid">
               <tr>
                  <td>
                     <div class="group">
                        <input  type="text" class="input-name" name="fullname" formControlName="fullname" value={{fullname}} id="txtfname"  maxlength="45"  required />
                        <span class="bar"></span>
                        <label id="ci1">Full name</label>
                     </div>
                  </td>
               </tr>
            </table>
         </div>
      </div>
   </div>
 
      <br>
      <div class="row">
      <div class="col-md-12">
         <div class="col-md-5">
            <table id="cname">
               <tr>
                  <td>
                     <div class="group">
                        <input  type="text" class="input-name" name="surname" formControlName="surname" value="{{surname}}"  id="txtlname"  maxlength="45"  required />
                        <span class="bar"></span>
                        <label id="ci1">Sur name</label>
                     </div>
                  </td>
               </tr>
            </table>
         </div>
      </div>
        </div>
      <br>
      <div class="row">
      <div class="col-md-12">
         <div id="genderupm" class="col-md-1">
               <input type="radio" formControlName="gender" name="gender" value="Male" [checked]="gender == 0"  required> Male
            </div>
         <div id="genderupf" class="col-md-2">
               <input  type="radio" formControlName="gender" name="gender" value="Female" [checked]="gender == 1" required> Female
            </div>
      </div>
      </div>
      <br>
      <div>
      <div class="col-md-12">
         <div class="col-md-5">
            <table id="cdate">
               <tr>
                  <td>
                     <div class="group">
                        <input type="text" class="ft_input_txt" name="dob" value="{{dob |date:'shortDate'}}" formControlName="dob" id="date"  required  />
                        <span class="bar"></span>
                        <label id="da1">Date of birth</label>                       
                     </div>
                  </td>
               </tr>
            </table>
         </div>
      </div>
      </div>
      <br><br>
      <div  class="row">
      <div class="col-md-12">
         <div id="single" class="col-md-1">
               <input  type="radio"  name="maritalstatus" value="single" [checked]="maritalstatus=='single'" formControlName="maritalstatus"   required> Single
            </div>
         <div id="married" class="col-md-2">
               <input  type="radio" name="maritalstatus"  value="married" [checked]="maritalstatus=='married'" formControlName="maritalstatus"  required> Married
            </div>
      </div>
      </div>
      <br>
      <div class="row">
<div class="col-md-12">
         <div class="col-md-5">
            <table id="cname">
               <tr>
                  <td>
                     <div class="group">
                        <input  type="text" class="input-name" name="phone" value="{{phone}}" formControlName="phone"  id="txtfname"  maxlength="10"  required />
                        <span class="bar"></span>
                        <label id="ci1">Phone number</label>					
                     </div>
                  </td>
               </tr>
            </table>
         </div>
      </div>
      </div>
<br><br>
<div class="row">
      <div class="col-md-12" id="btndiv" >
         <a  href="" >
            <div class="col-md-2 col-md-offset-2">
               <button id="profilecancelbt" type="submit" (click)="cancel();">Cancel</button>
		<button id="saveprofile" type="submit" >Save</button>
            </div>
         </a>
      </div>
   </div>
</div>
</div>
   <div id="chooseprofile" class="col-md-6 col-md-offset-1">
      <div id="chooseprofile1" class="col-md-3 col-md-offset-3">
         <img src="../../../assets/images/profile.png">
         <input type="file" #file (change)="onChange(file.files)"/>
      </div>
      <div id="placeholder" class="col-md-10 col-md-offset-2">
         <input id="txtem" type="text" placeholder="Write something about pic or your status">
      </div>
      <a id="passwordbt" href="changepassword.html">
         <div class="col-md-5 col-md-offset-4">
            <button id="changepasswordbt" (click)="forgotPassword()" type="submit">Change password</button>
         </div>
      </a>
   </div>
</div>
<!-- maindiv -->
</form>